/* TITLES */
@font-face {
    font-family: 'Easter';
    src: url('./fonts/Easter.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.navbar h1, input, h3{
    font-family: "Easter";
}


.dropdown-menu img{
    max-width: 15px;
    margin-left: 5px;
    border-radius: 10%;
}

.dropdown-menu button{
    width: 100%;
}


.dropdown-menu a{
    text-decoration: none;

    background: linear-gradient(90deg, hsla(55, 100%, 50%, 1) 0%, hsla(287, 100%, 50%, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-weight: bold;
}

.dropdown-toggle img{
    max-width: 20px;
    border-radius: 10%;
}

.card-body button{
    width: 75%;
}

.card-body img{
    border-radius: 10px;
}

.flex{
    display: flex;
}

.ingredients{
    max-width: 75%;
}

.card-prop{
    width: 15rem;
}


/*logo*/
.navbar-brand img{
    max-width: 150px;
}